/* ------------------------------------------
  You main styles
---------------------------------------------*/
@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans:300,300i,400,400i,500,500i,700,700i,800,800i';
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: "Alegreya Sans", Arial, Tahoma;
  color: #333;
  background: white;
  font-size: 80%;
}
#page {
  margin: 0 auto;
  max-width: 800px;
  padding: 10px;
   
    margin-bottom: 5px;
}
#page h1 {
  font-weight: bold;
  font-size: 64px;
  margin: 0 0 20px 0;
  padding: 0 0 10px 0;
  text-align: left;
  letter-spacing: -2px;
  color: #444;
}
#page h1 small {
  font-weight: normal;
  font-size: 18px;
  display: block;
  color: #999;
  letter-spacing: 0;
}
.see-documentation-p {
  text-align: right;
  margin-top: 30px;
}
.btn {
  transition: background 300ms;
  border-radius: 2px;
  padding: 10px 20px;
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  line-height: 1;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -3px inset;
  text-transform: uppercase;
  font-weight: bold;
}
.btn.btn-green {
  color: white;
  background: #009688;
}
.btn.btn-green:hover {
  background: #00695c;
}
.btn.btn-yellow {
  color: black;
  background: #fdd835;
}
.btn.btn-yellow:hover {
  background: #fbc02d;
}
.btn.btn-small {
  padding: 3px 7px;
  font-size: 11px;
}
.skitter-themes { text-align: center; margin-bottom: 10px; }
.skitter-themes ul { }
.skitter-themes ul li { display: inline-block; }
.skitter-themes ul li a { padding: 10px; display: inline-block; color: black; text-decoration: none; font-size: 14px; font-weight: bold; text-transform: uppercase; border-radius: 2px; border: 2px solid; margin: 0 5px 10px 5px; }
.skitter-themes ul li a.active { color: #999; }

.skitter-animations { text-align: center; margin: 20px 0 10px 0; }
.skitter-animations h3 { text-transform: uppercase; margin: 0 0 10px 0; }
.skitter-animations ul { }
.skitter-animations ul li { display: inline-block; }
.skitter-animations ul li a { display: inline-block; color: black; text-decoration: none; font-size: 14px; border-bottom: 1px solid; margin: 0 5px 10px 5px; }
.skitter-animations ul li a.active { color: #999; }

@media (max-width: 767px) {
  .skitter-themes ul li a { 
    margin: 0 2px 5px 2px;
    padding: 5px;
    font-size: 12px;
  }
}

/* ------------------------------------------
  Skitter custom settings
---------------------------------------------*/
.skitter-large-box {
  width: 100%;
}
.skitter-small-box {
  max-width: 400px;
}
.skitter-medium-box {
  max-width: 500px;
}
