.comp { 
  position: relative;
  animation-name: mymovecomp;
  animation-duration: 3s;
}

@keyframes mymovecomp {
  from {top: -900px;}
  to {top: 0;}
}
.tab { 
margin-top:200px;
  position: relative;
  animation-name: mymovetab;
  animation-duration: 3s;
}

@keyframes mymovetab {
  from {right: -900px;}
  to {right: 0;}
}
.laptop { 
padding:30px;
  position: relative;
  animation-name: mymovelaptop;
  animation-duration: 3s;
}

@keyframes mymovelaptop {
  from {left: -800px;}
  to {left: 0;}
}
.mob { 
  position: relative;
  animation-name: mymovemob;
  animation-duration: 3s;
}

@keyframes mymovemob {
  from {bottom: -800px;}
  to {bottom: 0;}
  
